{#{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }#}
{{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="col-md-8">
            {{ form_label(form.facturaIva, 'IVA: ') }}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">$</span>
                </div>
                {{ form_widget(form.facturaIva, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-8">
        {{form_label(form.fecha, 'Fecha:')}}
        <div class="input-group">
            <div class="input-group-prepend">
            
            </div>
            {{form_widget(form.fecha, {'attr' : {'class':'form-control'}})}}
        </div>
        <div class="col-md-6">
            {{form_label(form.total,'Total: ')}}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">$</span>
                </div>
                {{ form_widget(form.total, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        </div>
        <div class="col-md-6">
            {{form_label(form.facturaNro,'Nro: ')}}
            <div class="input-group">
                <div class="input-group-prepend">
                  
                </div>
                {{ form_widget(form.facturaNro, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>
    
    <h3>Productos</h3>
    <div id="venta_productos">
    {# the data-index attribute is required for the JavaScript code below #}
    <ul class="productos"
            data-index="{{ form.productos|length > 0 ? form.productos|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.productos.vars.prototype)|e('html_attr') }}"
        >
    
        {% for prod in form.productos %}
            <li>{{ form_row(prod.cantidad) }}</li>
        {% endfor %}
        

    </ul>
    <button type="button" class="add_item_link" data-collection-holder-class="productos">Agregar Producto</button>
    </div>

    {{ form_end(form) }}
