{% extends 'base.html.twig' %}

{% block title %}Venta{% endblock %}

{% block body %}
    <h1>Venta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idventa</th>
                <td>{{ ventum.idventa }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ ventum.fecha }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ ventum.total }}</td>
            </tr>
            <tr>
                <th>FacturaNro</th>
                <td>{{ ventum.facturaNro }}</td>
            </tr>
            <tr>
                <th>FacturaIva</th>
                <td>{{ ventum.facturaIva }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_venta_index') }}">back to list</a>

    <a href="{{ path('app_venta_edit', {'idventa': ventum.idventa}) }}">edit</a>

    {{ include('venta/_delete_form.html.twig') }}
{% endblock %}
