{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block body %}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idcliente</th>
                <td>{{ cliente.idcliente }}</td>
            </tr>
            <tr>
                <th>Cuit</th>
                <td>{{ cliente.cuit }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ cliente.direccion }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cliente.nombre }}</td>
            </tr>
            <tr>
                <th>Iva</th>
                <td>{{ cliente.iva }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cliente_index') }}">back to list</a>

    <a href="{{ path('app_cliente_edit', {'idcliente': cliente.idcliente}) }}">edit</a>

    {{ include('cliente/_delete_form.html.twig') }}
{% endblock %}
