{% extends 'base.html.twig' %}

{% block title %}Banco{% endblock %}

{% block body %}
    <h1>Banco</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idbanco</th>
                <td>{{ banco.idbanco }}</td>
            </tr>
            <tr>
                <th>Banco</th>
                <td>{{ banco.banco }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_banco_index') }}">back to list</a>

    <a href="{{ path('app_banco_edit', {'idbanco': banco.idbanco}) }}">edit</a>

    {{ include('banco/_delete_form.html.twig') }}
{% endblock %}
